/* login page and signup page */

.containerlogin,
.containerloginotp,
.containersignup,
.containersignupotp,
.gamejoinorcreate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1976d2;
    width: 500px;
    margin: 20px auto;
    padding: 30px 10px;
    position: relative;
    padding-bottom: 70px;
}

.containerlogin .titlelog,
.containerloginotp .titlelog,
.containersignup .titlelog,
.containersignupotp .titlelog {
    text-align: center;
}

.containerlogin .titlelog h3,
.containerloginotp .titlelog h3,
.containersignup .titlelog h3,
.containersignupotp .titlelog h3 {
    color: #1976d2;
}

.containerlogin .textfieldclogin,
.containerlogin .passfieldclogin,
.containerloginotp .textfieldclogin,
.containersignup .textfieldcsignup,
.containersignup .passfieldcsignup,
.containersignupotp .textfieldcsignup,
.gamejoinorcreate .textfieldclogin {
    width: 350px;
}

.containerlogin .fplogin,
.containerlogin .loginfromca,
.containersignup .signupfromca {
    display: block;
    margin: 10px;
}

.containerlogin .buttonfieldclogin,
.containerloginotp .buttonfieldclogin,
.containersignup .buttonfieldcsignup,
.containersignupotp .buttonfieldcsignup,
.gamejoinorcreate .buttonfieldclogin {
    position: absolute;
    right: 80px;
    bottom: 20px;
}

.containerlogin .cafromlogin {
    position: absolute;
    left: 80px;
    bottom: 20px;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
}

.containerlogin .cafromlogin:hover {
    background: #1976d2;
    color: white;
    font-weight: 500;
}

.vh100 {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerloginotp,
.containersignupotp {
    display: none;
}

.containersignup {
    padding-bottom: 50px;
}

@media(max-width:600px) {
    .containerlogin,
    .containerloginotp,
    .containersignup,
    .containersignupotp,
    .gamejoinorcreate {
        width: 95% !important;
        padding-bottom: 30px;
    }
    .containerlogin .cafromlogin {
        position: unset;
    }
    .gamejoinorcreate {
        flex-direction: column;
    }
    .containerlogin .buttonfieldclogin,
    .containerloginotp .buttonfieldclogin,
    .containersignup .buttonfieldcsignup,
    .containersignupotp .buttonfieldcsignup,
    .gamejoinorcreate .buttonfieldclogin {
        position: unset;
        display: block;
        margin: 20px auto;
    }
}

@media (max-width:400px) {
    .containerlogin .textfieldclogin,
    .containerlogin .passfieldclogin,
    .containerloginotp .textfieldclogin,
    .containersignup .textfieldcsignup,
    .containersignup .passfieldcsignup,
    .containersignupotp .textfieldcsignup,
    .gamejoinorcreate .textfieldclogin {
        width: 100%;
    }
}

.loginprogress,
.loginprogressotp,
.signupprogress,
.signupprogressotp {
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

#gametokenverifier {
    display: block;
}

#verifier,
#verifierp {
    word-break: break-all;
}

.bottomhandler {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#settime {
    font-weight: 500;
    color: crimson;
    font-size: 20px;
}

#loggame {
    font-weight: 500;
    font-size: 20px;
    color: green;
}

.container-fluid {
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: repeat(3, 33vh);
    grid-template-columns: repeat(3, 1fr);
}

.col {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.col img {
    width: 100%;
    height: 100%;
}

.container-fluid img {
    width: 100%;
}